name: Type Check

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pystrict:
    name: Pyright (strict)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: |
            requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyright

      - name: Type check with Pyright (strict)
        run: |
          pyright
